{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Forum {% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block styles %}{% endblock %}
  </head>
  <body>
    <main class="d-flex flex-column justify-content-between min-vh-100">
      {% include 'partials/navbar.html' %}
      <div class="container">{% block content %}{% endblock %}</div>
      {% include 'partials/footer.html' %}
    </main>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
