{% extends 'layouts/base.html' %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    {% include 'partials/messages.html' %}
    <div class="card shadow-sm">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form action="#" method="post">
          <div class="mb-2">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              name="username"
              required="true"
            />
          </div>
          <div class="mb-2">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              required="true"
            />
          </div>
          {% csrf_token %}
          <div class="d-flex justify-content-between">
            <button class="btn btn-primary" type="submit">Continue</button>
            <a class="btn btn-link" href="{% url 'register' %}">
              Forgot password
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
